body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #0055a0;
}

h1{
    font-family: 'Courier New', Courier, monospace;
}